body {
    font-family: Roboto;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,white, white);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,white, white);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
 
  .logo
{
    margin: 20px;
    margin-right: 0;
    padding-right: 0;
}
.logo img
{
    width: 75px;
    height: auto;
}
.logo1
{
    float: right;
}
.logo1 img
{
    width: 175px;
    height: auto;
    top:0;
    transform: translate(-20%,-220%)
   
}

hr{
  color: rgb(255, 81, 50);
}


   
  h1 {
    color:  rgb(255, 81, 50);
    font-family: Roboto;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  h2 {
    margin: 0;
    padding: 10px 100px;
    text-align: center;
    font-weight: normal;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
   
  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }

  .done{
    font-size: 17px;
    width: 100px;
    height: 50px;
    
  }
 
  button:hover {
    background: #4c2827;
    border-bottom-color: #111;
  }
 
  button:active {
    position: relative;
    top: 1px;
  }

 

  #from{
    height: 50px;
    width: 100%;
    text-align: center;
    border-radius: 0px;
    margin-top: 50px;
   
    margin-right: 250px;
    
    
  }


  input[type=text]{
    
    margin-left: 65px;
    box-sizing: border-box;
   
    border-radius: 0px;
    border: 2px solid rgb(255, 81, 50);
    border-radius: 0px;
    padding: 40px 150px;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
    
    color: rgba(0, 0, 0, 0.459);
    
  }

  #reason_align{
    text-align: center;
  }

  input[type=date]{
    border: 2px solid rgb(255, 81, 50);
  }

  input[type=time]{
    border: 2px solid rgb(255, 81, 50);
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color:  rgb(255, 81, 50);
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 0px;
    cursor: pointer;
  }
